*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
 
}
.contenedor{
    width: 100%;
    margin: 0 auto;

}
.banner_index{
    width: 100%;
    height: 560px;
    min-height: 601px;
    padding: 50px 40px;
    background-image: url(../ejemplos/fondoIndex/Fondo_1.jpg);
    background-size: cover;
    
}
.caja_izquierda{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;    
}
.banner_index > .caja_izquierda > h2{

  width:100%;
  font-size: 36px;
  margin-bottom: 5px;
}
.caja_izquierda > .texto{
    font-size: 18px;
  }

.btn_1{
    display: block;
    background-color: #BF6B04;
    width: 33%;
    padding: 8px 25px 8px 25px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow:0px 7px 23px 4px #99590f;
    -moz-box-shadow:0px 7px 23px 4px #99590f;
    -webkit-box-shadow:0px 7px 23px 4px #99590f;
    transition: 0.3s;
}
.btn_1:hover{
    background-color: #E18C22;
    transition: 0.3s;
}

